@model Vidly.ViewModels.NewCustomerViewModel
@{
    ViewData["Title"] = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>New Customer</h1>
@using (@Html.BeginForm("Create", "Customer"))
{
    <div class="form-group">
        <label>
            Name : @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
        </label>
    </div>
    <div class="form-group">
        <label>
            Date of Birth : @Html.TextBoxFor(c => c.Customer.DOB, new { @class = "form-control" })
        </label>
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(c => c.Customer.IsSubscribedToNewsLetter) Is subscribed to newsletter
        </label>
    </div>
    <div class="form-group">
        @*@Html.LabelFor(m => m.MembershipTypes)*@
        <label for="MembershipTypes">
            Membership Type :
            @Html.DropDownListFor(c => c.Customer.DOB, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-select" })
        </label>
    </div>
}
